rauth>=0.7.3
requests>=2.26.0

# project expects an "auth" folder with "oauth2_client_info.json" holding Warcraft Logs (wcl) client id and client secret
# project expects a "consumables" folder with a "consumables.csv" holding at least consumable name, item id, spell name, and spell id. All of this can be found at wowhead.com
